*{
padding: 0;
margin: 0;
font-family: 'Poppins', sans-serif;
}
body {
    height: 100vh;
    background: linear-gradient(111.34deg, #4f4f4f 7.25%, #dedede 7.25%);
}

.container{

   display: flex;
   padding: 30px 150px;
}

.container-text{
    margin-left: 120px;
    margin-top: 80px;
    width: 50%;
}
form{
    display: flex;
    flex-direction: column;
    width: 50%;
}
input,
textarea{
    width: 80%;
    margin: 10px 0;
    height: 30px;
    border-radius: 10px;
    border: none;
}
textarea{
    height: 100px;
}
input{
    padding: 10px 15px;
    border: none;
}
.btn{
    width: 30%;
    padding: 10px 15px;
    background: linear-gradient(111.34deg, #4f4f4f 7.25%, #dedede 66%;)
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
}